@media only screen and (min-width:768px){

    #menu{
        display:none;
    }
        
    main {
        margin:.5rem auto;
    }

    .logo img{
        width:50px;
    }

    .navigation{
        display:flex;
        flex-direction:row;
        gap:2rem;
        background:none;
    }

    .navigation a{
        border:none;
        padding:.5rem;
        font-weight:600;
        font-size: var(--fs-subtitle);
    }

    .hero img{
        height:120px;
    }

    .hero-content h1{
        font-size:var(--fs-subtitle);
    }

    .hero-content p{
        font-size:var(--fs-subtitle);
        max-width:700px;
    }

    .home-grid{
        grid-template-columns:2fr 1fr;
    }

    .grid{
        grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    }

    .list-row{
        display:grid;
        grid-template-columns:2fr 3fr 2fr 2fr;
        align-items:center;
    }

    #spotlight-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

}
