
@media (min-width:360px){

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: var(--accentclear);
        border-bottom: 2px solid var(--border);
        box-shadow: 0 2px 8px rgba(0,0,0,.08);
        
    }

    #menu{
        display:none;
    }

    nav {        
        margin-left: auto; 
    }
    
    .navigation {
        display: flex;
        list-style: none;
        justify-content: flex-start;        
        gap: 2rem;
    }

    .navigation a {
        text-decoration: none;
        color: var(--primary);
        font-size: var(--fs-subtitle);
        font-weight: 600;
        transition: .2s;
        border-bottom: none;
    }

    .navigation a:hover {
        color: var(--secondary);
    }

    .list-row {
        display: grid;
        grid-template-columns: 2fr 3fr 2fr 2fr;
        align-items: center;
        padding: 1rem;        
        
    }
}