/* =========================
   VARIABLES
========================= */
:root{
    --primary: #2E7D32;
    --primary-dark: #1B5E20;
    --primary-light: #66BB6A;
    --primary-light-transparent: #d7f2d799;
    --primary-orange: #d57526;
    --primary-orange-transparent: #f6a94d99;
    --primary-orange-dark: #a55a1d;
    --primary-clear: #51d526;
  
    --accent: #F4B400;
    --accent-light: #FFD54F;

    --background: #F8F7F2;
    --surface: #FFFFFF;
    --surface-alt: #F1F3F4;
 
    --text-dark: #212121;
    --text-medium: #555555;
    --text-light: #777777;
    
    --border: #DDDDDD;
  
    --success: #43A047;
    --warning: #F4B400;
    --danger: #D32F2F;
    
    --hover: #388E3C;

    --shadow:rgba(0,0,0,.35);
    --fs-title:clamp(1.1rem,2vw,1.5rem);
    --fs-subtitle:clamp(.95rem,1.5vw,1.1rem);
    --fs-body:clamp(.875rem,1.2vw,1rem);
    --fs-small:clamp(.75rem,1vw,.875rem);

}

/* =========================
   RESET
========================= */
*{margin:0;padding:0;box-sizing:border-box;}

body{
    font-family:'Poppins',sans-serif;
    /* background: linear-gradient(
    360deg,
    #ffffff 0%,
    #f4f8fc 45%,        
    #b0e0f9 100%
    
); */
}

main {        
    margin-bottom:1rem;    
}

h1, h2 {
    display: flex;
    justify-content: center;
    font-size: var(--fs-subtitle);
    padding-top: .5rem;
    margin-bottom:.5rem;
    color: var(--primary-clear);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* =========================
   HEADER
========================= */
header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-bottom:2px solid var(--border);
    position: relative;
}

.top{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
    padding:.5rem;   
}

.logo{
    display:flex;
    align-items:center;
    gap:.5rem;
}

.logo img {
    width:90px;
    height:40px;
}

.site-name{
    color:var(--primary-dark);
    font-weight:700;
    font-size:var(--fs-subtitle);
}

#menu{
    display:block;
    background:none;
    border:none;
    cursor:pointer;
    font-size:1.4rem;
    color:var(--primary);
}

#menu::before{content:"☰";}
#menu.open::before{content:"✖";}

nav {        
    margin-left: auto;
}

.navigation {
    display:none;
    flex-direction:column;
    list-style:none;
    background:var(--accentclear);
    padding: 0;
    margin: 0;
}

.navigation.open{
    display: flex;
    flex-direction: column;
    background-color: var(--primary-orange-transparent);
    position: absolute;
    top: 100%; 
    left: 0;
    width: 100%;    
    z-index: 1000;
}

.menu-open {
    margin-top: 120px;
}

.navigation a {
    display:block;
    padding:.3rem;
    text-decoration:none;
    color:var(--primary-dark);
    border-bottom:1px solid var(--primary-orange-transparent);
    transition: .2s;
    font-size: var(--fs-body);
}

/* =========================
   BREEDS
========================= */

button {
    background: var(--primary-dark);
    color: var(--background);
    height: 26px;
    width: 56px;
    border: none;
    border-radius: .5rem;
    margin: .3rem;
}

button:hover {
    background: var(--hover);
}

.view-buttons {
    display: flex;    
    padding: 1rem;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1rem;    
}

.grid-card {
    background: var(--surface);
    border: 1px solid var(--border);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,.08);    
    padding: .8rem;
    margin-bottom: .6rem;    
}

.grid-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 16px rgba(10, 77, 130, 0.2);
}

.grid-info {
    display: flex;
    flex-direction: column;
}

.grid-info h2{
    align-self: center;
    color: var(--primary-orange);
}

.grid-info button{
    align-self: center;
    width: 120px;
}

.grid-info p {
    display: block;  
    align-items: start;
    word-break: break-word;
    color: var(--primary);
    padding-bottom: 1rem;
    font-size: var(--fs-small);
}

.grid-card img {
    /* width: 100%; */  
    height: 120px;
    object-fit: contain;
    object-position: center;
    display: block;
    margin: 0 auto 1rem;
    border-radius:8px;
}

-----------------------------

.list {
    display: flex;
    flex-direction: column; 
}

.list-name{
    grid-area:name;
}

.list-temperament{
    grid-area:temperament;
    color: var(--primary-dark);
    padding-bottom: 1rem;
    font-size: var(--fs-body);
}

.list-description {
    grid-area:description;
    color: var(--primary);
    padding-bottom: 1rem;
    font-size: var(--fs-body);
}

.list-button {
    grid-area:button;
    justify-self:start;
    width: 120px;
    align-items: center;
}

.list-row {
    display:grid;
    grid-template-columns:180px 1fr;
    grid-template-areas:
        "photo name button"
        "photo temperament button"
        "photo description button";
    gap:.5rem;
    padding:1rem;
    font-size:var(--fs-small);
    align-items: center;
  
}

.list-row:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 16px rgba(10, 77, 130, 0.2);
}

.list-photo {
    grid-area:photo;
    width:120px;
    height:120px;
    object-fit:cover;
    border-radius:8px;
}

.list-row p:first-child {
    font-weight: 700;
    font-size: var(--fs-subtitle);
    color: var(--primary-dark);
}

.list-row:nth-child(even) {
    background: var(--background);
}

.list-row:nth-child(odd) {
    background: var(--secondary-light);
}

.grid-card.visited,
.list-row.visited {
    background-color: var(--background);
    border: 2px solid var(--primary-clear);
}

.grid-card.visited::before,
.list-row.visited::before {
    content: "✓ Viewed";
    display: inline-block;
    font-size: 0.8rem;
    font-weight: bold;
    color: var(--primary-dark);
    margin-bottom: 0.5rem;
}

dialog {
    width: min(700px, 90%);
    padding: 0;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    box-shadow: 0 15px 40px rgba(0, 0, 0, .35);
    animation: modalIn .3s ease;
}

dialog::backdrop {
    background: rgba(0, 0, 0, .65);
    backdrop-filter: blur(4px);
}

.modal-content {
    display: grid;   
    position:relative;
    
}

.modal-content img{
    width:100%;
    height:550px;
    min-height:450px;
    object-fit:cover;
    border-radius:10px;
    display:block;

}

.modal-info{
    position:absolute;
    right:0;
    bottom:0;
    width:45%;   
    font-size: var(--fs-body);
    justify-content:flex-end;    
    background:linear-gradient(
        90deg,
        rgba(194,228,194,.15) 0%,
        rgba(194,228,194,.55) 15%,
        rgba(194,228,194,.90) 45%,
        rgba(194,228,194,.96) 100%
    );
}

.modal-info h2{
    font-size:2rem;
    margin:0;
    color:var(--primary);
    font-size: var(--fs-body);
}

.modal-info p{
    margin:0;
    line-height:1.6;

}

.close-modal {
    position:absolute;
    top:1rem;
    right:1rem;
    width:42px;
    height:42px;
    border:none;
    border-radius:50%;
    background:var(--primary);
    color:var(--background);
    font-size:var(--fs-small);
    cursor:pointer;
    z-index: 999;
}

.close-modal:hover{
    opacity:.85;
}

.toolbar {
    display:flex;
    justify-content:center;
    font-size: var(--fs-subtitle);

}


.favorite-breeds {
    max-width: 1000px;
    margin: 1rem auto;
    padding: 1rem;
    background: var(--background);
    border-radius: 8px;
}

.favorite-breeds h2 {
    text-align: center;
    margin-bottom: .5rem;
    color: var(--primary-orange-dark);
}

.favorite-breeds > p {
    text-align: center;
    margin-bottom: 1rem;
    color: var(--primary-dark)
}

#favorite-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.favorite-card {
    display: grid;
    grid-template-columns: 40px 80px 1fr;
    align-items: center;
    gap: .5rem;
    padding: 1rem;
    background: var(--primary-orange-transparent);
    border: 1px solid var(--border);
    border-radius: 8px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .1);
}

.favorite-position {
    color: var(--primary);
    font-weight: bold;
}

.favorite-photo {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
}

.favorite-info h3 {
    margin: 0 0 .4rem;
    font-size: var(--fs-subtitle);
    color: var(--primary-orange-dark);
}

.favorite-info p {
    margin: 0;
    font-size: var(--fs-small);
}

/* =========================
   HERO
========================= */

.hero {
    position:relative;
    overflow:hidden;
}

.hero::before {
    content:"";
    position:absolute;
    inset:0;
    
}

.hero img {
    width:100%;
    height:160px;
    object-fit:cover;
    display:block;
}

.hero-content {
    position:absolute;
    inset:0;
    z-index:2;
    display:flex;
    flex-direction:column;  
    align-items:center;
    text-align:center;
    color: var(--accentclear);
}

.hero-content p {
    padding-bottom: 1rem;
    /* color: var(--primary-clear); */

}

.hero-content h1 {  
    color: var(--primary-orange);

}

.cta-button {
    display:inline-block;
    padding:.7rem .7rem;
    background:var(--warning);
    color:var(--primary);
    text-decoration:none;
    border-radius:6px;
    font-weight:bold;
    font-size:var(--fs-body);
}

#popular-breeds {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 1rem;
    margin-top:.9rem;
}

.popular-card {
    display:grid;
    grid-template-columns:120px 1fr;
    grid-template-areas:
        "photo info";
    gap:1rem;
    padding:1rem;
    background: var(--background);
    border-radius:8px;
    box-shadow:0 2px 8px rgba(0, 0, 0, 0.15);
    align-items:center;
    text-align: center;
}

.popular-info {
    grid-area:info;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center; 
    gap:.8rem;
    color: var(--primary-dark);
    font-size: var(--fs-small);
}

.popular-card img {
    grid-area:photo;
    width: 90px;
    height: 90px;
    object-fit:cover;
    flex-shrink: 0;
    border-radius:8px;
}

.popular-info button {   
    width: 100px;
    background:var(--warning);
    color:var(--primary);
    text-decoration:none;
    border-radius:6px;
    font-weight:bold;
    font-size:var(--fs-body);
}

.features h3 {
    text-align:center;
    color:var(--primary);
    margin-bottom:.5rem; 

}

.features-grid {
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(300px,1fr));
    gap:1rem;
}

.feature-card {
    background:var(--background);
    border-radius:18px;
    padding:.5rem;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
    transition:.3s;
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
    font-size: var(--fs-small);
}


/* =========================
   SERVICES
========================= */

#map {
    height:400px;
    width:100%;
    border-radius:10px;
}

.services-content {
    display:grid;
    grid-template-columns:2fr 1fr;
    gap:1rem;
    align-items:start;
}

#services-list {
    display:flex;
    flex-direction:column;
    overflow-y: auto;
    flex-direction: column;
    height: 400px;
    gap: .8rem;
    padding-right: .4rem;
}

.service-card {
    width: 100%;
    max-width: 390px;
    margin: 0 auto .5rem;
    padding:1rem;
    border-radius:8px;   
    box-shadow:0 5px 12px rgba(0,0,0,.15);
    opacity: 0;
    transform: translateY(40px);
    animation: fadeUp 0.8s ease forwards;
}

.service-card h3 {
    font-size: var(--fs-body);
    
}

.service-card p, a {
    font-size: var(--fs-small);
    
}

.service-card:nth-child(odd) {    
    background-color: var(--primary-light-transparent);
    color: var(--primary-dark);
}

.service-card:nth-child(even) {    
    background-color: var(--primary-orange-transparent);
    color: var(--primary-orange-dark); 
}

#services-list::-webkit-scrollbar{
    width: 8px;
}

#services-list::-webkit-scrollbar-track{
    background: var(--background);
    border-radius: 10px;
}

#services-list::-webkit-scrollbar-thumb{
    background: var(--primary);
    border-radius: 10px;
}

#services-list::-webkit-scrollbar-thumb:hover{
    background: var(--primary-dark);
}

#locationBtn {
    width: 180px;
    margin-bottom: 1rem;

}


@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* =========================
   DOG FACTS
========================= */

.facts {
    max-width: 1100px;
    margin: 2rem auto;
    padding: 1rem;
    text-align: center;
}

.facts h1 {
    margin-bottom: .5rem;
}

.facts-intro {
    margin-bottom: 2rem;
    color: var(--primary-dark);
}

.facts-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;

}

.fact-card {
    padding: 1.5rem;
    border-radius: 10px;
    background: var(--primary-light-transparent);
    border: 2px solid var(--border);
    box-shadow: 0 4px 10px rgba(0, 0, 0, .12);
    text-align: left;
}

.fact-card h2 {
    font-size: var(--fs-subtitle);
    margin-bottom: 1rem;
}

.fact-card p {
    line-height: 1.6;
    font-size: var(--fs-body);
    color: var(--primary-dark);
}

#new-facts {
    margin-top: 2rem;
    border: none;
    border-radius: 8px;
    background: var(--primary-orange);
    color: var(--background);
    font-weight: bold;
    cursor: pointer;
    width: 120px;
}

#new-facts:hover {
    opacity: .85;
}

/* =========================
   FOOTER
========================= */

.social {
    display:flex;
    justify-content:center;
    gap:1.5rem;
    background-color:var(--light);
}

.social img{
    width:22px;
    height:22px;
    transition:.3s;
}

.social img:hover{
    transform:scale(1.15);
}

.footer {
    text-align:center;
    padding:.5rem;
    background-color: var(--background);
}

.footer p{
    font-size: var(--fs-small);
    color: var(--primary);
}